doctype html
html(lang="en")
  head
    title Autowalk - The knee brace that walks for you
    link(
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600",
      rel="stylesheet",
      type="text/css"
    )
    link(
      href="//fonts.googleapis.com/css?family=Roboto+Slab:300",
      rel="stylesheet",
      type="text/css"
    )
    link(href="vendor/normalize.css", rel="stylesheet")
    link(href="vendor/skeleton.css", rel="stylesheet")
    link(href="vendor/icon.css", rel="stylesheet")
    link(href="index.css", rel="stylesheet")
  body
    header Autowalk
    .container

      .row.pitch
        img.six.columns(src="img/brace.png")
        .six.columns
          h1 Reclaim freedom
          p.
            Want to walk? Our knee brace can do that for you.
          button.yes Yes

      .why.center
         .row
           .four.columns
             span.icon-light-bulb
             .reason Smart
             p.
               Equip it and go. Autowalk figures out how you
               walk and when to stop.
           .four.columns
             span.icon-circle
             .reason Convenient
             p.
               Forget it exists. Autowalk is light, unobtrusive, and
               is easy to put on and take off.
           .four.columns
             span.icon-heart
             .reason Healing
             p.
               Gradually rehabilitate yourself. Adjust how much
               assistance Autowalk gives.

      .team.center
        h4 The Team
        .row
          .three.columns
            span.icon-smile
            .name Danson Garcia
            p Electric
          .three.columns
            span.icon-smile
            .name Dave Lu
            p Software
          .three.columns
            span.icon-smile
            .name Dhrumil Parikh
            p Mechanical
          .three.columns
            span.icon-smile
            .name Mark Vandermeulen
            p Electric, Controls


